<div class="row">

	<h1>Password forgot?</h1>	

	<div class="col-md-6 col-md-offset-3">
			
		<%= bootstrap_form_tag url: password_forgot_users_path do |f| %>

			<%= f.text_field :email, value: params[:email], label: 'email' %>

			<%= f.submit 'Send reset instructions' %>
			<%= link_to 'Go back', login_path, class: 'btn btn-default' %>
			
		<% end %>

	</div>

</div>
